*.swp
*.DS_Store
db/schema.rb
log/*.log
log/*.pid
tmp/*
log/*
public/newest_mp3s.txt
cookbooks/*
tmp
.vagrant
vendor/music/*
config/database.yml
.env
.foreman
.AppleDouble
config/application.yml
.bundle/
.sass-cache
.amazonrc
